<div class="container">
  <button class="btn btn-primary" (click)="onAddCustomer()">AddCustomer</button>

  <div class="container" *ngIf="isForm">
    <input type="text" [(ngModel)]="customer.id" #id value="{{ customer.id }}" hidden>
    <input type="text" [(ngModel)]="customer.cId" #cId value="{{ customer.cId }}" hidden>
    <input type="text" [(ngModel)]="customer.firstName" #firstName placeholder="first name"
           value="{{ customer.firstName }}"><br>
    <input type="text" [(ngModel)]="customer.lastName" #lastName placeholder="last name"
           value="{{ customer.lastName }}"><br>
    <input type="text" [(ngModel)]="customer.email" #email placeholder="email"
           value="{{ customer.id }}"><br>
    <button class="btn btn-primary" (click)="addCustomer(customer)">Submit</button>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <th>Customer Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </thead>
    <tbody ><tr *ngFor="let customer of customers">
      <td>{{ customer.cId }}</td>
      <td> {{ customer.firstName }}</td>
      <td> {{ customer.lastName }}</td>
      <td> {{ customer.email }}</td>
      <td><button class="btn btn-primary" (click)="updateCustomer(customer)">Update</button>
        <button class="btn btn-danger" (click)="deleteCustomer(customer)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
